<a href="https://colab.research.google.com/github/christydas/christy-s/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# CUSTOMER CHURN ANALYSIS
#Predicting whether a customer is going to continue a subscription product or not.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import types

In [ ]:
# Reading data from CSV to Dataframe
dataset = pd.read_csv('/content/drive/My Drive/Colab Notebooks/datafiles/customer_churn.csv')
dataset.head()

   ID CHURN Gender Status  ...  LocalBilltype  LongDistanceBilltype   Usage  RatePlan
0   1     T      F      S  ...         Budget        Intnl_discount  229.64       3.0
1   6     F      M      M  ...      FreeLocal              Standard   75.29       2.0
2   8     F      M      M  ...      FreeLocal              Standard   47.25       3.0
3  11     F      M      S  ...         Budget              Standard   59.01       1.0
4  14     F      F      M  ...         Budget        Intnl_discount   28.14       1.0

[5 rows x 17 columns]

In [ ]:
dataset.dtypes

ID                        int64
CHURN                    object
Gender                   object
Status                   object
Children                float64
Est Income              float64
Car Owner                object
Age                     float64
LongDistance            float64
International           float64
Local                   float64
Dropped                 float64
Paymethod                object
LocalBilltype            object
LongDistanceBilltype     object
Usage                   float64
RatePlan                float64
dtype: object

In [ ]:
# Conver dataframe coloums to categories inorder to create decision tree.

dataset['CHURN'] = dataset['CHURN'].astype('category')
dataset['Gender'] = dataset['Gender'].astype('category')
dataset['Status'] = dataset['Status'].astype('category')
dataset['Car Owner'] = dataset['Car Owner'].astype('category')
dataset['Paymethod'] = dataset['Paymethod'].astype('category')
dataset['LocalBilltype'] = dataset['LocalBilltype'].astype('category') 
dataset['LongDistanceBilltype'] = dataset['LongDistanceBilltype'].astype('category')

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2066 entries, 0 to 2065
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    2066 non-null   int64
 1   CHURN                 2066 non-null   category
 2   Gender                2066 non-null   category
 3   Status                2066 non-null   category
 4   Children              2066 non-null   float64
 5   Est Income            2066 non-null   float64
 6   Car Owner             2066 non-null   category
 7   Age                   2066 non-null   float64
 8   LongDistance          2066 non-null   float64
 9   International         2066 non-null   float64
 10  Local                 2066 non-null   float64
 11  Dropped               2066 non-null   float64
 12  Paymethod             2066 non-null   category
 13  LocalBilltype         2066 non-null   category
 14  LongDistanceBilltype  2066 non-null   category
 15  Usage                 2066 non-null   float64
 16  RatePlan              2066 non-null   float64
dtypes: category(7), float64(9), int64(1)
memory usage: 176.3 KB

In [ ]:
# Creating T/F variables to binary vafriables.

cat_columns = dataset.select_dtypes(['category']).columns
dataset[cat_columns] = dataset[cat_columns].apply(lambda x: x.cat.codes)

dataset.head()

   ID  CHURN  Gender  ...  LongDistanceBilltype   Usage  RatePlan
0   1      1       0  ...                     0  229.64       3.0
1   6      0       1  ...                     1   75.29       2.0
2   8      0       1  ...                     1   47.25       3.0
3  11      0       1  ...                     1   59.01       1.0
4  14      0       0  ...                     0   28.14       1.0

[5 rows x 17 columns]

In [ ]:
#Splitting the dataset

x = dataset.iloc[:, [0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]].values
y = dataset.iloc[:, 1].values

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [ ]:
# Scaling the numerical values

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [ ]:
# Using decisioin tree classifier

from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)

In [ ]:
# Creating the confusion matrix

from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix

rfc_cv_score = cross_val_score(classifier, x, y, cv=10, scoring='roc_auc')
print("===confusion_matrix===")
print(confusion_matrix(y_test, y_pred))
print('\n')

===confusion_matrix===
[[290  15]
 [ 25 187]]

In [ ]:
# Precision, Recall& Accuracy

from sklearn.metrics import precision_score, recall_score, accuracy_score
precision_metrics = precision_score(y_test, y_pred, average = "macro")
recall_metrics = recall_score(y_test, y_pred, average = "macro")
accuracy_metrics = accuracy_score(y_test, y_pred)

print('Precision score: {0:0.4f}'.format(precision_metrics))
print('Recall score: {0:0.4f}'.format(recall_metrics))
print('Accuracy score: {0:0.4f}'.format(accuracy_metrics))

Precision score: 0.9232
Recall score: 0.9164
Accuracy score: 0.9226

In [ ]:
# This is a pretty good model with the accuracy of 0.9226.